name: CI Pipeline

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install -r api/requirements.txt
          pip install pandas scikit-learn joblib mlflow python-dotenv pyyaml

      - name: Run training script
        run: |
          python ml/train.py

      - name: Build Docker image
        run: |
          docker build -t kt-fastapi .

      - name: Run container test
        run: |
          docker run -d -p 8000:8000 kt-fastapi
          sleep 5
          curl http://127.0.0.1:8000/